page-solicitados {

}
.sem-margem-up-down{
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.card-titulo{
  font-size: 28px;
  font-weight: bold;
}
.sem-margem{
  margin: 0px;
  padding: 0px;
}
