<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-searchbar (ionInput)="getItems($event)" name="pesquisa" [(ngModel)]="search"></ion-searchbar>

  <ion-item *ngIf="categorias.length == 0">
    <h3 class="semPost">Nenhuma informação cadastrada</h3>
  </ion-item>

  <ion-list *ngIf= "search == ''">
    <button ion-item *ngFor="let categoria of categorias" (click)="selecionar(categoria)">
    {{ categoria.nome }}
  </button>
  </ion-list>

  <ion-list *ngIf= "search != ''">
  <ion-item *ngFor="let instituicaoAtual of todosTelefones">
    <h2>{{instituicaoAtual.nome}}</h2>
    <ion-icon name="call" (click) = "ligar(instituicaoAtual.telefone)" ></ion-icon> {{instituicaoAtual.telefone}}
  </ion-item>
  </ion-list>
</ion-content>
