<ion-header>
  <ion-toolbar color="laranja">
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Requerimento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="itemtextarea">
      <ion-label floating>Andamento</ion-label>
      <ion-textarea autoresize [(ngModel)]="andamento" [readonly]="visualizar" name="texto"></ion-textarea>
    </ion-item>

    <ion-slides pager>

      <ion-slide *ngFor="let requerimentoAtual of requerimento.fotoURL">
        <img [src]="requerimentoAtual" style="width: 100%;" (press)="opcaoApagar(requerimentoAtual)" />
      </ion-slide>

    </ion-slides>

    <!-- se for adm -->
    <div *ngIf="meuUser.permissao == 1">
      <ion-item *ngIf="!visualizar">
        <ion-row>
          <ion-col width-50>
            <button (click)="importarFoto()" class="fabbuttons" color="secondary" ion-fab large>
              <ion-icon name="image"></ion-icon>
            </button>
          </ion-col>
          <ion-col width-50>
            <button (click)="tirarFoto()" class="fabbuttons" color="secondary" ion-fab large>
              <ion-icon name="camera"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item *ngIf="visualizar">
        <button class="blockbutton" (click)="editar()" color="secondary" ion-button block default>Editar</button>
      </ion-item>
      <ion-item *ngIf="!visualizar">
        <button class="blockbutton" (click)="finalizar()" color="secondary" ion-button block default>Finalizar</button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
