<ion-header>

  <ion-navbar color="laranja">
    <ion-title>Evento</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" [(ngModel)]="evento.title" readonly="true" name="titulo"></ion-input>
    </ion-item>
    <ion-item class="itemtextarea">
      <ion-label floating>Descrição</ion-label>
      <ion-textarea autoresize [(ngModel)]="evento.descricao" readonly="true" name="texto"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating >Local</ion-label>
      <ion-input type="text" [(ngModel)]="evento.local" readonly="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Início</ion-label>
      <ion-input type="date" [(ngModel)]="dataInicio" readonly="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Término</ion-label>
      <ion-input type="date" [(ngModel)]="dataFim" readonly="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Dia Inteiro</ion-label>
      <ion-toggle [(ngModel)]="evento.allDay" disabled></ion-toggle>
    </ion-item>
    <!--Caso não seja dia inteiro, escolher horários-->
    <ion-item *ngIf="!evento.allDay">
      <ion-label floating>Horário de início</ion-label>
      <ion-input type="time" [(ngModel)]="horaInicio" readonly="true"></ion-input>
    </ion-item>
    <ion-item *ngIf="!evento.allDay">
      <ion-label floating>Horário de término</ion-label>
      <ion-input type="time" [(ngModel)]="horaTermino" readonly="true"></ion-input>
    </ion-item>
      <ion-row *ngIf="permissao == 1">
        <ion-col width-50>
          <button ion-button icon-left block [disabled]="desabilitar" (click)="editar()" color="secondary" ><ion-icon name="create"></ion-icon>Editar</button>
        </ion-col>
        <ion-col width-50>
          <button ion-button icon-left block [disabled]="desabilitar" (click)="excluir()" color="danger" ><ion-icon name="trash"></ion-icon>Excluir</button>          
        </ion-col>
      </ion-row>
  </ion-list>
</ion-content>