<!--
  Generated template for the MensagensRecebidas page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title *ngIf="!selecao">
      Mensagens Recebidas
    </ion-title>
    <ion-title *ngIf="selecao">
      {{mensagensSelecionadas.length}} Selecionadas
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openOptions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list [virtualScroll]="mensagens">
    <ion-item *virtualItem="let mensagem" [style.background-color]="corBackground(mensagem)" (click)="abrirMensagem(mensagem)"
      (press)="opcoesMsg(mensagem)">
      <ion-avatar item-left>
        <img [src]="mensagem.foto">
      </ion-avatar>
      <h2>De: {{mensagem.nome}}</h2>
      <h3>{{ mensagem.mensagem }}</h3>
      <p>{{mensagem.data}}</p>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="enviarMensagem()">
      <ion-icon name="add">
    </ion-icon>
    </button>
  </ion-fab>
</ion-content>