page-mensagens-recebidas {
  .TituloRecebidas {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (min-width: 680px) {
  ion-modal-view.modal {
    top: 10%;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    min-height: 20px !important;
    width: 50% !important;
  }
}
