<!--
  Generated template for the TrofeuCidadania page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Troféu Cidadania</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="perfil">
    <!-- Imagem de perfil do usuáio-->
    <img class="imagem-perfil" src="{{ myRank.fotoURL }}">

    <!-- Imagem da coroa de louros que varia conforma a posição do usuario (1, 2, 3, default)-->

    <img *ngIf="myRank.pos == 1" class="imagem-coroa" src="../image/coroa-1.png">
    <img *ngIf="myRank.pos == 2" class="imagem-coroa" src="../image/coroa-2.png">
    <img *ngIf="myRank.pos == 3" class="imagem-coroa" src="../image/coroa-3.png">
    <img *ngIf="myRank.pos > 3" class="imagem-coroa" src="../image/coroa-default.png">

    <!-- Selecionar com o ngIf uma das imagens acima conforme a posição do usuário -->

  </div>

  <!-- Informações do usuário -->
  <div>
    <ion-grid>
      <ion-row>
        <ion-col width-67>{{ myRank.nome }}</ion-col>
        <ion-col width-33>Posição: {{ myRank.pos }}º</ion-col>
        <!-- O "X" deve ser substituido pelo número referente a posição do usuário  -->
      </ion-row>
      <ion-row>
        <ion-col>Pontuação: {{ myRank.pontos }}</ion-col>
        <!-- O "X" deve ser substituido pelo número referente a pontuação do usuário  -->
      </ion-row>
    </ion-grid>
  </div>

  <h2 class="titulo-rank">TOP 3</h2>

  <!-- Primeiro colocado -->
  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img class="primeiro"  src="{{ rank[0].fotoURL }}">
      </ion-avatar>
      <h2>{{ rank[0].nome }}</h2>
    </ion-item>
    <ion-card-content>
      <p> Pontuação: {{ rank[0].pontos }} </p>
      <!-- O "X" deve ser substituido pelo número referente a pontuação do usuário  -->
    </ion-card-content>
  </ion-card>

  <!-- Segundo colocado -->
  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img class="segundo" src="{{ rank[1].fotoURL }}">
      </ion-avatar>
      <h2>{{ rank[1].nome }}</h2>
    </ion-item>
    <ion-card-content>
      <p> Pontuação: {{ rank[1].pontos }} </p>
      <!-- O "X" deve ser substituido pelo número referente a pontuação do usuário  -->
    </ion-card-content>
  </ion-card>

  <!-- Terceiro colocado -->
  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img class="terceiro"  src="{{ rank[2].fotoURL }}">
      </ion-avatar>
      <h2>{{ rank[2].nome }}</h2>
    </ion-item>
    <ion-card-content>
      <p> Pontuação: {{ rank[2].pontos }} </p>
      <!-- O "X" deve ser substituido pelo número referente a pontuação do usuário  -->
    </ion-card-content>
  </ion-card>


</ion-content>
