<ion-header >
  <ion-toolbar color="laranja">
    <ion-title>
      Adicionar Evento
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating >Título</ion-label>
      <ion-input type="text" [(ngModel)]="evento.Titulo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="evento.Descricao"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Local</ion-label>
      <ion-input type="text" [(ngModel)]="evento.Local"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating >Início</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="evento.DataInicio"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating >Término</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="evento.DataFim"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Dia Inteiro</ion-label>
      <ion-toggle [(ngModel)]="evento.Allday"></ion-toggle>
    </ion-item>
    <!--Caso não seja dia inteiro, escolher horários-->
    <ion-item *ngIf="!evento.Allday">
      <ion-label floating >Horário de início</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaInicio"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!evento.Allday">
      <ion-label floating >Horário de término</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaTermino"></ion-datetime>
    </ion-item>
  </ion-list>
  <!--Botão para adicionar evento-->
  <button ion-button block (click)="adicionar()">Adicionar Evento</button>
</ion-content>
