<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Aprovados
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="pls.length == 0">
    <h3 class="semPost">Nenhuma proposta de lei aprovada</h3>
  </ion-item>

  <ion-card *ngFor="let pl of pls">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="pl.fotoUsuario">
      </ion-avatar>
      <h2>{{pl.nomeUsuario}}</h2>
    </ion-item>
    <ion-slides *ngIf="pl.fotoURL.length != 0" pager>
      <ion-slide *ngFor="let plAtual of pl.fotoURL">
        <img [src]="plAtual" style="width: 100%;" />
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title>
        {{ pl.titulo }}
      </ion-card-title>
      <p>
        {{ pl.ementa }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
