<ion-header>

  <ion-navbar color="laranja">
    <ion-title>Editar Evento</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" [(ngModel)]="evento.title" readonly="true" name="titulo"></ion-input>
    </ion-item>
    <ion-item class="itemtextarea">
      <ion-label floating>Descrição</ion-label>
      <ion-textarea rows="5" [(ngModel)]="evento.descricao" readonly="true" name="texto"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating >Local</ion-label>
      <ion-input type="text" [(ngModel)]="evento.Local"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Início</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dataInicio"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Término</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dataFim"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Dia Inteiro</ion-label>
      <ion-toggle [(ngModel)]="evento.allDay"></ion-toggle>
    </ion-item>
    <!--Caso não seja dia inteiro, escolher horários-->
    <ion-item *ngIf="!evento.allDay">
      <ion-label floating>Horário de início</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaInicio"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="!evento.allDay">
      <ion-label floating>Horário de término</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaTermino"></ion-datetime>
    </ion-item>
    <ion-item>
      <button class="blockbutton" (click)="finalizar()" color="secondary" ion-button block large>Finalizar</button>
    </ion-item>
  </ion-list>
</ion-content>