<ion-header>
  <ion-navbar color="laranja">
    <ion-buttons left>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Editar Evento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" [(ngModel)]="title" name="titulo"></ion-input>
    </ion-item>
    <ion-item class="itemtextarea">
      <ion-label floating>Descrição</ion-label>
      <ion-textarea autoresize [(ngModel)]="descricao" name="texto"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating >Local</ion-label>
      <ion-input type="text" [(ngModel)]="local"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Início</ion-label>
      <ion-input type="date"  [(ngModel)]="dataInicio" name="dataInicio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Término</ion-label>
      <ion-input type="date" displayFormat="DD/MM/yyyy" [(ngModel)]="dataFim" name="dataFim"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Dia Inteiro</ion-label>
      <ion-toggle [(ngModel)]="allDay"></ion-toggle>
    </ion-item>
    <!--Caso não seja dia inteiro, escolher horários-->
    <ion-item *ngIf="!allDay">
      <ion-label floating>Horário de início</ion-label>
      <ion-input type="time" [(ngModel)]="horaInicio" name="horaInicio"></ion-input>
    </ion-item>
    <ion-item *ngIf="!allDay">
      <ion-label floating>Horário de término</ion-label>
      <ion-input type="time" [(ngModel)]="horaTermino" name="horaTermino"></ion-input>
    </ion-item>
    <ion-item>
      <button class="blockbutton" (click)="finalizar()" color="secondary" ion-button block default>Finalizar</button>
    </ion-item>
  </ion-list>
</ion-content>
