page-editar-evento {
    .blockbutton{
        text-align: center !important;
        margin-right: 30px !important;
    }

    ion-title{
        text-align: center;
        margin-left: 10% !important;
    }
}
