<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Propostas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-item *ngIf="solicitacoes.length == 0">
    <h3 class="semPost">Ainda não existem solicitações</h3>
    <h2 class="semPost">Seja o Primeiro</h2>
  </ion-item>

  <ion-card *ngFor="let solicitacao of solicitacoes" (press)="abrirOpcoes(solicitacao.solicitacao)">


    <ion-item>
      <ion-avatar item-left>
        <img [src]="solicitacao.solicitacao.fotoUsuario">
      </ion-avatar>
      <h2>{{solicitacao.solicitacao.nomeUsuario}}</h2>
    </ion-item>

    <ion-slides *ngIf="solicitacao.solicitacao.fotoURL.lenght != 0" pager>

      <ion-slide *ngFor="let solicitacaoAtual of solicitacao.solicitacao.fotoURL">
        <img [src]="solicitacaoAtual" style="width: 100%;" />
      </ion-slide>

    </ion-slides>

    <ion-card-content>
      <ion-card-title (click)="abrirSolicitacao(solicitacao.solicitacao)">
        {{ solicitacao.solicitacao.titulo }}
      </ion-card-title>
      <p (click)="abrirSolicitacao(solicitacao.solicitacao)">
        {{ solicitacao.solicitacao.descricao }}
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col width-50>
        <button ion-button clear small color="secondary" icon-left (click)="like(solicitacao, 's')">
              <ion-icon [name]="solicitacao.t == 's' ? 'ios-thumbs-up' : 'ios-thumbs-up-outline'"></ion-icon>
              {{ solicitacao.p }}
            </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button clear small color="danger" icon-left (click)="like(solicitacao, 'n')">
              <ion-icon [name]="solicitacao.t == 'n' ? 'ios-thumbs-down' : 'ios-thumbs-down-outline'"></ion-icon>
              {{ solicitacao.n }}
            </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="novaProposta()">
      <ion-icon name="add">
    </ion-icon>
    </button>
  </ion-fab>
</ion-content>
