<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Propostas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <ion-card *ngFor="let solicitacao of solicitacoes" (press)="abrirOpcoes(solicitacao.solicitacao)">
    <img *ngIf="solicitacao.solicitacao.fotoURL" [src]="solicitacao.solicitacao.fotoURL" />
    <ion-card-content>
      <ion-card-title>
        {{ solicitacao.solicitacao.titulo }}
      </ion-card-title>
      <p>
        {{ solicitacao.solicitacao.descricao }}
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col width-50>
        <button ion-button clear small color="secondary" icon-left (click)="like(solicitacao, 's')">
              <ion-icon [name]="solicitacao.t == 's' ? 'ios-thumbs-up' : 'ios-thumbs-up-outline'"></ion-icon>
              {{ solicitacao.p }}
            </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button clear small color="danger" icon-left (click)="like(solicitacao, 'n')">
              <ion-icon [name]="solicitacao.t == 'n' ? 'ios-thumbs-down' : 'ios-thumbs-down-outline'"></ion-icon>
              {{ solicitacao.n }}
            </button>
      </ion-col>
    </ion-row>
  </ion-card>
  
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="novaProposta()">
      <ion-icon name="add">
    </ion-icon>
    </button>
  </ion-fab>
</ion-content>