<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Reprovados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="solicitacoes.length == 0">
    <h3 class="semPost">Ainda não existem solicitações</h3>
  </ion-item>

  <ion-card *ngFor="let solicitacao of solicitacoes" (press)="abrirOpcoes(solicitacao)" (click)="abrirSolicitacao(solicitacao)">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="solicitacao.fotoUsuario">
      </ion-avatar>
      <h2>{{solicitacao.nomeUsuario}}</h2>
    </ion-item>
    <ion-slides *ngIf="solicitacao.fotoURL.length != 0" pager>
      <ion-slide *ngFor="let solicitacaoAtual of solicitacao.fotoURL">
        <img [src]="solicitacaoAtual" style="width: 100%;" />
      </ion-slide>
    </ion-slides>
    <ion-card-content>
      <ion-card-title>
        {{ solicitacao.titulo }}
      </ion-card-title>
      <p>
        {{ solicitacao.descricao }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
