<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Reprovados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let solicitacao of solicitacoes" (press)="abrirOpcoes(solicitacao)">
    <ion-avatar item-left>
      <img [src]="solicitacao.fotoUsuario">
    </ion-avatar>
    <h2>{{solicitacao.nomeUsuario}}</h2>
    <img *ngIf="solicitacao.fotoURL !== ''" [src]="solicitacao.fotoURL" />
    <ion-card-content>
      <ion-card-title>
        {{ solicitacao.titulo }}
      </ion-card-title>
      <p>
        {{ solicitacao.descricao }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>