page-visualizar-solicitacao {
    .compartilhar{
        margin-right: 10px !important;
    }
    // ion-title{
    //     text-align: center;
    // }
    p{
        font-size: 14px !important;
        line-height: 20px !important;
        margin-left: 10px !important;
    }
    .scrolling{
        overflow: scroll !important;
    }
}
