<ion-header>
  <ion-navbar hideBackButton="true" color="laranja">
    
    <ion-buttons left>
      <button class="menuIcon" ion-button icon-only (click)="toggleMenu()" style="padding-left: 25px">
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Avaliar Solicitação
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="back">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="solicitacoes.length == 0">
    <h3 class="semPost">Nenhuma solicitação para ser avaliada</h3>
  </ion-item>

  <ion-card *ngFor="let solicitacao of solicitacoes" (press)="abrirOpcoes(solicitacao)" (click)="abrirSolicitacao(solicitacao)">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="solicitacao.fotoUsuario">
      </ion-avatar>
      <h2>{{solicitacao.nomeUsuario}}</h2>
    </ion-item>

    <ion-slides pager>

      <ion-slide *ngFor="let solicitacaoAtual of solicitacao.fotoURL">
        <img [src]="solicitacaoAtual" style="width: 100%;" />
      </ion-slide>

    </ion-slides>

    <ion-card-content>
      <ion-card-title>
        {{ solicitacao.titulo }}
      </ion-card-title>
      <p>
        {{ solicitacao.descricao }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
