<ion-header>
  <ion-toolbar color="laranja">

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Avaliar Solicitação</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="back">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="solicitacoes.length == 0">
    <h3 class="semPost">Nenhuma solicitação para ser avaliada</h3>
  </ion-item>

  <ion-card *ngFor="let solicitacao of solicitacoes" (press)="abrirOpcoes(solicitacao)" >
    <ion-item>
      <ion-avatar item-left>
        <img [src]="solicitacao.fotoUsuario">
      </ion-avatar>
      <h2>{{solicitacao.nomeUsuario}}</h2>
    </ion-item>

    <ion-slides pager>

      <ion-slide *ngFor="let solicitacaoAtual of solicitacao.fotoURL">
        <img [src]="solicitacaoAtual" style="width: 100%;" />
      </ion-slide>

    </ion-slides>

    <ion-card-content>
      <ion-card-title>
        {{ solicitacao.titulo }}
      </ion-card-title>
      <p>
        {{ solicitacao.descricao }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
