page-adicionar-solicitacao {

}
.perfil-pic{
  width: 100%;
  height: 100px;
  align-items: center;
  align-content: center;
}
.perfil-pic div{
  position: relative;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: rgb(147, 147, 147);
  text-align: center;
}
.botao-duplo-l{
  margin-right: 5px;
}
.botao-duplo-r{
  margin-left: 5px;
}
