page-agenda {
    .calendarToolbar ion-title{
    text-align: center;
    font-style: roboto;
    text-transform: capitalize;
    margin-left: 10%;
    }
    .title{
        font-size: 12px;
    }
    ion-header button{
        width: 10% !important;
    }
    ion-title{
        text-align: center;
        margin-right: 10%;
    }
    .testandoIcone{
        padding-left: 25px !important;
        width: 30px !important;
    }
}
