page-pl-propostas {
  .back {
    background-color: rgb(228, 228, 228) !important;
  }
  // ion-header button{
  //     width: 10% !important;
  // }
  // ion-title {
  //   text-align: center !important;
  //   // margin-right: 10%;
  //   overflow: visible !important;
  //   padding-right: 0;
  // }

  ion-content {
    right: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  ion-card {
    right: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  ion-card-content {
    right: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  ion-card-title {
    font-size: 20px !important;
    margin-left: 10px !important;
  }

  p {
    font-size: 14px !important;
    line-height: 20px !important;
    margin-left: 10px !important;
  }

  .centralizar{
    align-items: center;
    text-align: center;
  }
}
