page-nova-publicacao {
    ion-title{
        text-align: center;
        margin-right: 15% !important;
    }
    ion-list{
        padding: 0 !important;
        margin-left: 0 !important;
        resize: vertical !important;
    }
    ion-item{
        padding: 0 !important;
        margin-left: 0 !important;
    }
    ion-col{
        align-items: center !important;
    }
    .fabbuttons{
        align-self: center !important;
        margin-left: 30%;
    }
    .blockbutton{
        text-align: center !important;
        margin-left: 20px;
        margin-right: 20px;
    }
}
