page-nova-publicacao {
  ion-title {
    text-align: center;
    margin-right: 15% !important;
  }

  ion-list {
    padding: 0 !important;
    margin-left: 0 !important;
    resize: vertical !important;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgray;
  }

  ion-item {
    padding: 0 !important;
    margin-left: 0 !important;
  }

  ion-col {
    align-items: center !important;
  }

  .fabbuttons {
    align-self: center !important;
    margin-left: 30%;
  }

  .blockbutton {
    text-align: center !important;
    margin-left: 20px;
    margin-right: 20px;
  }

  .blockbutton2 {
    text-align: center !important;
  }

  .imagem-sm {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .add {
    text-align: center;
    background-color: lightgray;
    height: 100px;
    padding: 0;
    margin: 0;
  }

  .add-icon {
    padding: 0;
    margin: 0;
    color: gray;
    font-size: 50px;
    position: relative;
    top: 24px;
  }

  .addmargem {
    padding: 2px;
  }

  .centralizar {
    text-align: center;
    color: gray;
  }
}
