<ion-header>
  <ion-navbar color="laranja">
    <ion-title>Nova Notícia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" [(ngModel)]="publicacao.titulo" name="titulo"></ion-input>
    </ion-item>
    <ion-item class="itemtextarea">
      <ion-label floating>Descrição</ion-label>
      <ion-textarea autoresize [(ngModel)]="publicacao.texto" name="texto"></ion-textarea>
    </ion-item>
    <p class="centralizar" *ngIf="publicacao.video==''">Clique no "+" para adicionar Fotos ou um Vídeo</p>
    <ion-grid *ngIf="publicacao.video==''">
      <ion-row>
        <ion-col col-4 *ngFor="let publicacaoAtual of publicacao.fotoURL" col-4 class="margem">
          <div class="add">
            <img [src]="publicacaoAtual" class="imagem-sm" (press)="opcaoApagar(publicacaoAtual)" />
          </div>
        </ion-col>

        <ion-col col-4 class="margem" (click)="opcaoAdd()">
          <div class="add">
            <ion-icon class="add-icon" name="add"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <iframe *ngIf="publicacao.video!==''" class="centralizar" width="100%" height="315" [src]="publicacao.videoUrl" frameborder="0" allowfullscreen></iframe>
    <ion-item *ngIf="publicacao.video!==''">
      <button class="blockbutton" (click)="removerVideo()" color="danger" ion-button block default>Apagar Video</button>
    </ion-item>
  </ion-list>
  <button class="blockbutton2" (click)="publicar()" color="secondary" ion-button block default>Publicar</button>

</ion-content>
