<ion-header>

  <ion-navbar color="laranja">
    <ion-title>Nova Notícia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Título</ion-label>
      <ion-input type="text" [(ngModel)]="publicacao.titulo" name="titulo"></ion-input>
    </ion-item>
    <ion-item class="itemtextarea">
      <ion-label floating>Descrição</ion-label>
      <ion-textarea rows="10" [(ngModel)]="publicacao.texto" name="texto"></ion-textarea>
    </ion-item>

     <ion-slides pager>

      <ion-slide *ngFor="let publicacaoAtual of publicacao.fotoURL" style="margin-left: 10px">
        <img [src]="publicacaoAtual" style="width: 100%;" (press)="opcaoApagar(publicacaoAtual)" />
      </ion-slide>

    </ion-slides>

    <ion-item>
      <iframe *ngIf="publicacao.video!==''" width="100%" height="315" [src]="publicacao.videoUrl" frameborder="0" allowfullscreen ></iframe>
      <ion-row>
        <ion-col *ngIf="publicacao.video == ''">
          <button (click)="importarFoto()" class="fabbuttons" color="secondary" ion-fab large>
              <ion-icon name="image"></ion-icon>
            </button>
        </ion-col>
        <ion-col *ngIf="publicacao.video == ''">
          <button (click)="tirarFoto()" class="fabbuttons" color="secondary" ion-fab large>
              <ion-icon name="camera"></ion-icon>
            </button>
        </ion-col>
        <ion-col *ngIf="publicacao.fotoURL.length == 0 && publicacao.video != ''">
          <button (click)="removerVideo()" class="fabbuttons" color="danger" ion-fab large>
              <ion-icon name="remove"></ion-icon>
            </button>
        </ion-col>
        <ion-col *ngIf="publicacao.fotoURL.length == 0">
          <button (click)="addLink()" class="fabbuttons" color="secondary" ion-fab large>
              <ion-icon name="logo-youtube"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <button class="blockbutton" (click)="publicar()" color="secondary" ion-button block large>Publicar</button>
    </ion-item>
  </ion-list>

</ion-content>
