<ion-header>
  <ion-navbar hideBackButton="true" color="laranja">
    <ion-buttons left>
      <button class="menuIcon" ion-button icon-only (click)="toggleMenu()" style="padding-left: 25px">
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Depoimentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="depoimentos.length == 0">
    <h3 class="semPost">Nenhum depoimento</h3>
    <h2 class="semPost">Seja o Primeiro</h2>
  </ion-item>

  <ion-card *ngFor="let depoimento of depoimentos">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="depoimento.fotoURL">
      </ion-avatar>
      <h2>{{depoimento.nome}}</h2>
    </ion-item>
    <ion-card-content>
      <p>{{depoimento.Texto}}</p>
    </ion-card-content>
  </ion-card>

<ion-fab right bottom>
  <button ion-fab color="secondary" (click)="novoDepoimento()">
     <ion-icon name="add">
     </ion-icon>
   </button>
</ion-fab>
</ion-content>
