<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Avaliar Propostas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="pls.length == 0">
    <h3 class="semPost">Nenhuma proposta para ser avaliada</h3>
  </ion-item>

  <ion-card *ngFor="let pl of pls" (press)="abrirOpcoes(pl)" (click)="abrirPL(pl)">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="pl.fotoUsuario">
      </ion-avatar>
      <h2>{{pl.nomeUsuario}}</h2>
    </ion-item>
    <ion-card-content>
      <ion-card-title>
        {{ pl.titulo }}
      </ion-card-title>
      <p>
        {{ pl.ementa }}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
