page-informacao {
    ion-header button{
        width: 10% !important;
    }
    ion-title{
        text-align: center;
        margin-right: 10%;
    }
    .margemLimitada{
    white-space: pre-line;
    margin-bottom: 0px;
    padding-left: 5px;
    font-variant: small-caps;
    font-size: 20px;
    }
}
  