<ion-header>
  <ion-navbar hideBackButton="true" color="laranja">
    <ion-buttons left>
      <button class="menuIcon" ion-button icon-only (click)="toggleMenu()" style="padding-left: 25px">
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Informações</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-item *ngIf="questoes.length == 0">
    <h3 class="semPost">Nenhuma informação cadastrada</h3>
  </ion-item>

  <ion-item *ngFor="let questao of questoes" (click)="escolherPergunta(questao)">
    <h3 class="margemLimitada">{{questao.pergunta}}</h3>
    <p *ngIf="questao == questaoEscolhida" class="margemLimitada">{{questao.resposta}}</p>
  </ion-item>


</ion-content>
