<ion-header>
  <ion-toolbar color="laranja">

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Informações</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item *ngIf="questoes.length == 0">
    <h3 class="semPost">Nenhuma informação cadastrada</h3>
  </ion-item>

  <ion-item *ngFor="let questao of questoes" (click)="escolherPergunta(questao)">
    <h3 class="pergunta">{{questao.pergunta}}</h3>
    <p *ngIf="questao == questaoEscolhida" class="resposta">{{questao.resposta}}</p>
  </ion-item>


</ion-content>
