<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Encaminhados
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngIf="pls.length == 0">
    <h3 class="semPost">Nenhuma proposta de lei em andamento</h3>
  </ion-item>

  <ion-card *ngFor="let projeto of pls" (press)="abrirOpcoes(projeto.pl)">
    <ion-item>
      <ion-avatar item-left>
        <img [src]="projeto.pl.fotoUsuario">
      </ion-avatar>
      <h2>{{projeto.pl.nomeUsuario}}</h2>
    </ion-item>
    <ion-slides (click)="abrirPL(projeto.pl)" *ngIf="projeto.pl.fotoURL.length != 0" pager>
      <ion-slide *ngFor="let plAtual of projeto.pl.fotoURL">
        <img [src]="plAtual" style="width: 100%;"/>
      </ion-slide>
    </ion-slides>
    <ion-card-content (click)="abrirPL(projeto.pl)">
      <ion-card-title>
        {{ projeto.pl.titulo }}
      </ion-card-title>
      <p>
        {{ projeto.pl.ementa }}
      </p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col width-50>
        <button ion-button clear small color="secondary" icon-left (click)="like(projeto, 's')">
              <ion-icon [name]="projeto.t == 's' ? 'ios-thumbs-up' : 'ios-thumbs-up-outline'"></ion-icon>
              {{ projeto.p }}
            </button>
      </ion-col>
      <ion-col width-50>
        <button ion-button clear small color="danger" icon-left (click)="like(projeto, 'n')">
              <ion-icon [name]="projeto.t == 'n' ? 'ios-thumbs-down' : 'ios-thumbs-down-outline'"></ion-icon>
              {{ projeto.n }}
            </button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-fab right bottom *ngIf="myUser.permissao == 1">
    <button ion-fab color="secondary" (click)="novoPL()">
      <ion-icon name="add">
    </ion-icon>
    </button>
  </ion-fab>
</ion-content>
