<ion-header>

  <ion-navbar color="laranja">
    <ion-title>Projeto de Lei</ion-title>
    <ion-buttons end>
      <button class="compartilhar" ion-button icon-only (click)="compartilhar()">
        <ion-icon name="share-alt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <ion-card>
    <ion-item *ngIf="pl.nomeUsuario != ''">
      <ion-avatar item-left>
        <img [src]="pl.fotoUsuario">
      </ion-avatar>
      <h2>{{pl.nomeUsuario}}</h2>
    </ion-item>
    <ion-slides *ngIf="pl.fotoURL.lenght != 0" pager>
      <ion-slide *ngFor="let plAtual of pl.fotoURL">
        <img [src]="plAtual" style="width: 100%;" />
      </ion-slide>
    </ion-slides>
    <div padding class="scrolling">
      <h1>{{pl.titulo}}</h1>
      <ion-label>Descrição</ion-label>
      <ion-textarea autoresize [(ngModel)]="pl.ementa" readonly="true" name="texto"></ion-textarea>
    </div>
  </ion-card>

   <ion-row *ngIf="permissao == 1">
    <ion-col width-50>
      <button ion-button default icon-left block *ngIf="pl.estado=='ap'" (click)="adicionarOficio()" color="secondary"><ion-icon name="logo-buffer"></ion-icon>Adicionar Ofício</button>
      <button ion-button default icon-left block *ngIf="pl.estado=='tr'" (click)="adicionarOficio()" color="secondary"><ion-icon name="logo-buffer"></ion-icon>Adicionar Ofício</button>
    </ion-col>
    <ion-col width-50>
      <button ion-button default icon-left block (click)="reprovarPl()" color="danger"><ion-icon name="trash"></ion-icon>Reprovar</button>
    </ion-col>
  </ion-row>
</ion-content>