<ion-header>

  <ion-navbar color="laranja">
    <ion-title>{{pl.titulo}}</ion-title>
    <ion-buttons end>
      <button class="compartilhar" ion-button icon-only (click)="compartilhar()">
        <ion-icon name="share-alt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <ion-card>
    <ion-slides *ngIf="pl.fotoURL.lenght != 0" pager>
      <ion-slide *ngFor="let plAtual of pl.fotoURL">
        <img [src]="plAtual" style="width: 100%;" />
      </ion-slide>
    </ion-slides>
    <div padding class="scrolling">
      <ion-label>Descrição</ion-label>
      <ion-textarea autoresize [(ngModel)]="pl.ementa" readonly="true" name="texto"></ion-textarea>
    </div>
  </ion-card>
</ion-content>