<ion-header>
  <ion-navbar color="laranja">
    <ion-buttons start *ngIf="mensagensSelecionadas.length != 0">
      <button ion-button icon-only (click)="cancelarSelecoes()">
      <ion-icon name='close-circle'></ion-icon>
    </button>
    </ion-buttons>
    <button ion-button menuToggle icon-only *ngIf="mensagensSelecionadas.length == 0">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title class="TituloEnviadas" *ngIf="mensagensSelecionadas.length == 0">
      Mensagens Enviadas
    </ion-title>
    <ion-title *ngIf="mensagensSelecionadas.length != 0">
      {{mensagensSelecionadas.length}} Selecionadas
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openOptions($event)">
        <ion-icon *ngIf="mensagensSelecionadas.length>0" name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="mensagens.length == 0">
    <h3 class="semPost">Caixa de saída vazia</h3>
  </ion-item>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles" refreshingText="Carregando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item *ngFor="let mensagem of mensagens" [style.background-color]="corBackground(mensagem)" (click)="abrirMensagem(mensagem)" (press)="opcoesMsg(mensagem)">
    <ion-avatar item-left>
      <img [src]="mensagem.foto">
    </ion-avatar>
    <h2>Para: {{mensagem.nome}}</h2>
    <h3>{{ mensagem.mensagem }}</h3>
    <p>{{mensagem.data}}</p>
  </ion-item>

</ion-content>
