<ion-header>
  <ion-navbar color="laranja">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Recusados
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="back">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ul>
    <li *ngFor="let pl of pls">
      <ion-card>
        <img *ngIf="pl.fotoURL !== ''" [src]="pl.fotoURL" />
        <ion-card-content>
          <ion-card-title>
            {{ pl.titulo }}
          </ion-card-title>
          <p>
            {{ pl.ementa }}
          </p>
        </ion-card-content>
      </ion-card>
    </li>
  </ul>
</ion-content>
